@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* Brand */
  --color-primary: oklch(56% 0.11 190); /* #188E83 */
  --color-secondary: oklch(65% 0.18 45); /* #EB6C02 */
  --color-accent: oklch(72% 0.12 160); /* Soft mint accent */

  /* Background */
  --color-base-100: oklch(94% 0.003 260); /* #EEEEEE */
  --color-base-200: oklch(90% 0.005 260);
  --color-base-300: oklch(86% 0.008 260);

  /* Neutral (Text & Layout) */
  --color-neutral: oklch(28% 0.01 250); /* Dark cool gray */
  --color-neutral-content: oklch(96% 0 0); /* Light text */

  /* Feedback */
  --color-success: oklch(68% 0.15 145);
  --color-warning: oklch(78% 0.16 85);
  --color-error: oklch(62% 0.22 28);
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
